* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding: 20px;
}
input {
  height: 40px;
  padding: 20px;
  width: 300px;
  font-size: 1.5em;
}